/* GALERİ SAYFASI TASARIMI */
.gallery-header {
    text-align: center;
    padding: 50px 20px;
    background-color: #5D2F77;
    color: white;
}

.gallery-header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    color: var(--peach);
}

/* Resim Izgarası (Grid) */
.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Ekrana göre otomatik sığdıms */
    gap: 20px;
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.gallery-item {
    overflow: hidden; /* Resim taşarsa gizle */
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    cursor: pointer;
    border: 3px solid var(--purple);
    transition: 0.3s;
}

.gallery-item:hover {
    transform: scale(1.03); /* Üstüne gelince hafif büyü */
    border-color: var(--pink);
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Resmi kutuya sığdır */
    display: block;
    height: 250px; /* Tüm resimler eşit boyda */
}

/* LIGHTBOX (BÜYÜK RESİM EKRANI) */
.lightbox {
    display: none; /* Başlangıçta gizli */
    position: fixed;
    z-index: 3000; /* Her şeyin üstünde */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* Arka planı karart */
    justify-content: center;
    align-items: center;
}

.lightbox-content {
    max-width: 90%;
    max-height: 80%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 172, 172, 0.5); /* parlama */
    animation: zoomIn 0.3s; /* Açılış animasyonu */
}

.close-lightbox {
    position: absolute;
    top: 20px;
    right: 40px;
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.close-lightbox:hover {
    color: var(--pink);
}

@keyframes zoomIn {
    from {transform: scale(0);}
    to {transform: scale(1);}
}